env:
  global:
    - CC_TEST_REPORTER_ID=27d2aa5148f46f78524f8de761f1c5d54548d57a4aa0bcc28aacd9c141c4c805
language: ruby
rvm:
  - 2.4.6
  - 2.5.5
  - 2.6.3
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script: bundle exec rspec
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
